<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="app">
        <h2>名前入力アプリ</h2>
        <p>firstName: <input type="text" v-model="firstName"></p>
        <p>lastName: <input type="text" v-model="lastName"></p>
        <p>fullName: {{ fullName }}</p>
    </div>
    <script src="http://unpkg.com/vue@3.1.5"></script>
    <script src="main.js"></script>
</body>
</html>